body {
  font-family: Lato;
}

.navbar {
  padding: 1.5rem;
}

.navbar-brand {
  font-size: 1rem;
}

.herounit {
  background-color: #a2d5c6;
  padding: 2rem;
}

.juliaimg {
  border-radius: 50%;
  height: auto;
  width: 80%;
}

.introheading {
  align-self: center;
}

.welcome-note {
  text-align: center;
  margin: 2.5rem;
}

.projectbox {
  border: solid #5c3c92;
  padding: 1.5rem;
  margin-top: 4rem;
}

.projectthumbnailleft {
  width: 50%;
  margin-right: 1.5rem;
  object-fit: cover;
}

.projectthumbnailright {
  justify-content: flex-end;
  width: 50%;
  margin-left: 1.5rem;
  object-fit: cover;
}

h3 {
  border-bottom: solid #a2d5c6;
}

.btn-primary {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #077b8a;
  border-color: #077b8a;
  font-size: 0.8rem;
}

.btn-primary:hover {
  background-color: #a2d5c6;
  border-color: #077b8a;
}

footer {
  text-align: center;
  margin-top: 5rem;
  padding: 4rem;
  background-color: #a2d5c6;
}

.socialicons {
  height: 2rem;
  width: auto;
}

.socialrow {
  justify-content: center;
}
